.descricao{
    font-size: 22px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.imagem {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

a.card-link {
    text-decoration: none; 
    color: inherit; 
}

.card {
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
    background-color: #ffffff; 
    border: 1px solid #dee2e6; 
}

.card:hover {
    transform: scale(1.05); 
    background-color: #abcef1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-body {
    background-color: inherit; 
}