h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;

}
img{
    width: 10%;
    align-items: center;
    align-content: center;
}
p{
    font-size: 15px;
}
