body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.titulo{
    text-align: center;
}

.linguagens {
    text-align: center;
    margin-top: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: content-box;

}

.frutas {
    text-align: center;
    margin-top: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: content-box;

}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 5px 0;
}
p{
    margin-top: 20px;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    color: white;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 80px;
}

.boxes{
    padding: 40px;
}