.bg-red-white-text {
    background-color: red;
    color:white;
}
.bg-red-white-text .navbar-brand,
    .bg-red-white-text .nav-link {
        color: white;
    }

    .bg-red-white-text .nav-link:hover {
        color: white;
        
    }

    .bg-red-white-text .nav-link {
        color: whitesmoke;
        padding: 10px 60px; /* Ajuste o padding para cobrir a altura da navbar */
        transition: background-color 0.3s ease, color 0.3s ease;
    }